<div class="footer">
	<div class="row">
		<div class="col-sm-6">&copy;2016 Ela Yudhanira - <a href="mailto:elayudhanira@gmail.com">elayudhanira@gmail.com</a></div>
		<div class="col-sm-6">
			<ul class="pull-right">
				<li><a class="linkedin" target="_blank" href="https://se.linkedin.com/in/elayudhanira"><img src="styles/img/linkedin-logo.png"></a></li>
				<li><a class="github" target="_blank" href="https://github.com/helloimela/"><img src="styles/img/github-logo.png"></a></li>
				<li><a class="github" target="_blank" href="https://www.behance.net/elaelation"><img src="styles/img/behance.png"></a></li>
			</ul>
		</div>
	</div>
</div>